<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <compilation defaultLanguage="c#" debug="true" />

    <customErrors mode="RemoteOnly" /> 

    <authentication mode="Windows" /> 

    <authorization>
        <allow users="*" />
    </authorization>

    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
   
    <httpHandlers>
		<add verb="*" path="*.chm" type="CHM.HttpHandler.HttpHandler, CHM.HttpHandler"/>
    </httpHandlers>
  
 </system.web>
 
 <appSettings>
	<add key="AllowChmDownload" value="no" />
	<add key="UseDumps" value="yes" />
	<add key="UseTreeImages" value="yes" />
 </appSettings>


</configuration>
